In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958,https://www.airbnb.com/rooms/958,20190306152813,2019-03-06,"Bright, Modern Garden Unit - 1BR/1B",New update: the house next door is under const...,"Newly remodeled, modern, and bright garden uni...",New update: the house next door is under const...,none,*Quiet cul de sac in friendly neighborhood *St...,...,t,f,moderate,f,f,1,1,0,0,1.54
1,5858,https://www.airbnb.com/rooms/5858,20190306152813,2019-03-06,Creative Sanctuary,NaN,We live in a large Victorian house on a quiet ...,We live in a large Victorian house on a quiet ...,none,I love how our neighborhood feels quiet but is...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.93
2,7918,https://www.airbnb.com/rooms/7918,20190306152813,2019-03-06,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,Room rental-sunny view room/sink/Wi Fi (inner ...,Nice and good public transportation. 7 minute...,none,"Shopping old town, restaurants, McDonald, Whol...",...,f,f,strict_14_with_grace_period,f,f,9,0,9,0,0.15
3,8142,https://www.airbnb.com/rooms/8142,20190306152813,2019-03-06,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,Room rental Sunny view Rm/Wi-Fi/TV/sink/large ...,Nice and good public transportation. 7 minute...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,9,0,9,0,0.15
4,8339,https://www.airbnb.com/rooms/8339,20190306152813,2019-03-06,Historic Alamo Square Victorian,Pls email before booking. Interior featured i...,Please send us a quick message before booking ...,Pls email before booking. Interior featured i...,none,NaN,...,f,f,strict_14_with_grace_period,t,t,2,2,0,0,0.23

In [3]:
df = df[['id', 'name', 'room_type', 'accommodates', 'price', 'review_scores_rating', 'number_of_reviews', 'property_type', 'beds', 'bed_type', 'bathrooms', 'bedrooms']]
df.head()

,id,name,room_type,accommodates,price,review_scores_rating,number_of_reviews,property_type,beds,bed_type,bathrooms,bedrooms
0,958,"Bright, Modern Garden Unit - 1BR/1B",Entire home/apt,3,$170.00,97.0,180,Apartment,2.0,Real Bed,1.0,1.0
1,5858,Creative Sanctuary,Entire home/apt,5,$235.00,98.0,111,Apartment,3.0,Real Bed,1.0,2.0
2,7918,A Friendly Room - UCSF/USF - San Francisco,Private room,2,$65.00,85.0,17,Apartment,1.0,Real Bed,4.0,1.0
3,8142,Friendly Room Apt. Style -UCSF/USF - San Franc...,Private room,2,$65.00,93.0,8,Apartment,1.0,Real Bed,4.0,1.0
4,8339,Historic Alamo Square Victorian,Entire home/apt,5,$785.00,97.0,27,House,2.0,Real Bed,1.5,2.0

In [4]:
df = df[df['number_of_reviews'] > 10]  
df = df.drop(['number_of_reviews'], axis=1)
df.head()

,id,name,room_type,accommodates,price,review_scores_rating,property_type,beds,bed_type,bathrooms,bedrooms
0,958,"Bright, Modern Garden Unit - 1BR/1B",Entire home/apt,3,$170.00,97.0,Apartment,2.0,Real Bed,1.0,1.0
1,5858,Creative Sanctuary,Entire home/apt,5,$235.00,98.0,Apartment,3.0,Real Bed,1.0,2.0
2,7918,A Friendly Room - UCSF/USF - San Francisco,Private room,2,$65.00,85.0,Apartment,1.0,Real Bed,4.0,1.0
4,8339,Historic Alamo Square Victorian,Entire home/apt,5,$785.00,97.0,House,2.0,Real Bed,1.5,2.0
5,8567,Lovely 2BR flat Great Location,Entire home/apt,6,$255.00,90.0,Apartment,3.0,Real Bed,1.0,2.0

In [5]:
df = df.fillna(0)

In [6]:
df['room_type'] = pd.get_dummies(df['room_type'])
df['property_type'] = pd.get_dummies(df['property_type'])
df['bed_type'] = pd.get_dummies(df['bed_type'])
df.head()

,id,name,room_type,accommodates,price,review_scores_rating,property_type,beds,bed_type,bathrooms,bedrooms
0,958,"Bright, Modern Garden Unit - 1BR/1B",1,3,$170.00,97.0,0,2.0,0,1.0,1.0
1,5858,Creative Sanctuary,1,5,$235.00,98.0,0,3.0,0,1.0,2.0
2,7918,A Friendly Room - UCSF/USF - San Francisco,0,2,$65.00,85.0,0,1.0,0,4.0,1.0
4,8339,Historic Alamo Square Victorian,1,5,$785.00,97.0,0,2.0,0,1.5,2.0
5,8567,Lovely 2BR flat Great Location,1,6,$255.00,90.0,0,3.0,0,1.0,2.0

In [7]:
df['price'] = df['price'].replace('[\$,)]','', regex=True).replace('[(]','-', regex=True).astype(float)
df.head()

,id,name,room_type,accommodates,price,review_scores_rating,property_type,beds,bed_type,bathrooms,bedrooms
0,958,"Bright, Modern Garden Unit - 1BR/1B",1,3,170.0,97.0,0,2.0,0,1.0,1.0
1,5858,Creative Sanctuary,1,5,235.0,98.0,0,3.0,0,1.0,2.0
2,7918,A Friendly Room - UCSF/USF - San Francisco,0,2,65.0,85.0,0,1.0,0,4.0,1.0
4,8339,Historic Alamo Square Victorian,1,5,785.0,97.0,0,2.0,0,1.5,2.0
5,8567,Lovely 2BR flat Great Location,1,6,255.0,90.0,0,3.0,0,1.0,2.0

In [8]:
df_features = df[['room_type', 'accommodates', 'price', 'review_scores_rating', 'property_type', 'beds', 'bed_type', 'bathrooms', 'bedrooms']]
df['name'] = df['name'].map(lambda name:re.sub('[^A-Za-z0-9]+', " ", name))
df_features.head()

,room_type,accommodates,price,review_scores_rating,property_type,beds,bed_type,bathrooms,bedrooms
0,1,3,170.0,97.0,0,2.0,0,1.0,1.0
1,1,5,235.0,98.0,0,3.0,0,1.0,2.0
2,0,2,65.0,85.0,0,1.0,0,4.0,1.0
4,1,5,785.0,97.0,0,2.0,0,1.5,2.0
5,1,6,255.0,90.0,0,3.0,0,1.0,2.0

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
min_max_scaler = MinMaxScaler()
df_features = min_max_scaler.fit_transform(df_features)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [11]:
np.round(df_features,2)

array([[1.  , 0.13, 0.02, ..., 0.  , 0.07, 0.07],
       [1.  , 0.27, 0.03, ..., 0.  , 0.07, 0.14],
       [0.  , 0.07, 0.01, ..., 0.  , 0.29, 0.07],
       ...,
       [0.  , 0.2 , 0.02, ..., 0.  , 0.07, 0.14],
       [0.  , 0.07, 0.01, ..., 0.  , 0.07, 0.07],
       [0.  , 0.  , 0.01, ..., 0.  , 0.07, 0.07]])

In [12]:
from sklearn.neighbors import NearestNeighbors

In [13]:
knn = NearestNeighbors(n_neighbors=7, algorithm='ball_tree').fit(df_features)

In [14]:
distances, indices = knn.kneighbors(df_features)

In [15]:
def print_similar_listings(query=None,id=None):
    for id in indices[id]:
            print(df.iloc[id])
            print('\n')

In [16]:
indices

array([[   0, 1764,  471, ...,  626,  692, 2115],
       [   1, 1404,  752, ..., 1855, 1024,  606],
       [   2,  344, 2289, ..., 1421, 2941, 3605],
       ...,
       [3666, 3233, 2362, ..., 2999, 3175, 1188],
       [3667, 1957, 3169, ..., 1010, 1347, 2875],
       [3668, 3208,  703, ...,  581, 2953, 3603]], dtype=int64)

In [17]:
print_similar_listings(id=1050)

id                                                 3759368
name                    Charming Private Castro Garden Apt
room_type                                                1
accommodates                                             3
price                                                  165
review_scores_rating                                    97
property_type                                            0
beds                                                     2
bed_type                                                 0
bathrooms                                                1
bedrooms                                                 0
Name: 1271, dtype: object


id                                                               18140914
name                    Bubbly Studio Apartment in a Noe Valley Victorian
room_type                                                               1
accommodates                                                            3
price                                                                 130
review_scores_rating                                                   97
property_type                                                           0
beds                                                                    2
bed_type                                                                0
bathrooms                                                               1
bedrooms                                                                0
Name: 3591, dtype: object


id                                                     2396847
name                    Luxurious Modern Fully Equipped Studio
room_type                                                    1
accommodates                                                 3
price                                                      125
review_scores_rating                                        97
property_type                                                0
beds                                                         2
bed_type                                                     0
bathrooms                                                    1
bedrooms                                                     0
Name: 997, dtype: object


id                                                         19329448
name                    Private Studio with Piano 1 Block from Park
room_type                                                         1
accommodates                                                      3
price                                                            99
review_scores_rating                                             97
property_type                                                     0
beds                                                              2
bed_type                                                          0
bathrooms                                                         1
bedrooms                                                          0
Name: 3833, dtype: object


id                                                                4616596
name                    Hot Tub Modern Garden Studio in Mission Victorian
room_type                                                               1
accommodates                                                            3
price                                                                 290
review_scores_rating                                                   97
property_type                                                           0
beds                                                                    2
bed_type                                                                0
bathrooms                                                               1
bedrooms                                                                0
Name: 1434, dtype: object


id                                                             14946749
name                    Penthouse Studio with the View in San Francisco
room_type                                                             1
accommodates                                                          3
price                                                               155
review_scores_rating                                                 98
property_type                                                         0
beds                                                                  2
bed_type                                                              0
bathrooms                                                             1
bedrooms                                                              0
Name: 3016, dtype: object


id                                         12575461
name                    Mission District Pied terre
room_type                                         1
accommodates                                      3
price                                           195
review_scores_rating                             96
property_type                                     0
beds                                              2
bed_type                                          0
bathrooms                                         1
bedrooms                                          0
Name: 2669, dtype: object